{# This is the template for our /etc/hosts file  #}

{% for host in groups['linux2'] %}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ hostvars[host]['ansible_facts']['default_ipv4']['address']  }}  {{ inventory_hostname  }}

{% endfor %}
